/* estilos del layout admin */
.admin-layout {
  display: grid;
  grid-template-columns: 1fr 260px; /* contenido sidebar */
  height: 100%; /* ocupa toda la altura */
  overflow: hidden; /* evita scroll doble en la página */
}

/* El contenido puede hacer scroll independiente del sidebar */
.admin-contenido {
  overflow-y: auto;
  padding: 2rem;
  background-color: var(--color-fondo);
  min-width: 0;
}